@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,900&display=swap');
@import "loading.css";

body {
    color: #424242;
}

.v-application, .v-main {
    background-color: #f1f5f9;
}

.login-form {
    max-width: 400px;
    margin: 0 auto;
    height: 100%;

    .spacer {
        height: calc(35% - 50px);
    }
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.container-sm {
    max-width: 1000px;
    margin: 0 auto;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 1s;
}

.fade-enter,
.fade-leave {
    opacity: 0;
}

.mimic-input {
    padding: 20px 12px;
    border: 1px solid rgba(16, 16, 16, 0.14);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.center-switch {
    max-width: 300px;
}
