$body-font-family: 'Roboto', sans-serif;
$card-elevation: 1 !default;
$alert-elevation: 1 !default;

$shadow-key-umbra-opacity: rgba(#a1a1a1, 0.2);
$shadow-key-penumbra-opacity: rgba(#a1a1a1, 0.14);
$shadow-key-ambient-opacity: rgba(#a1a1a1, 0.12);
