<template>
	<v-alert
		@click="show = !show"
        dark
        :color="color"
        :icon="alertIcon"
		v-if="show"
		class="ma-0 elevation-4 float-right"
		width="40%"
		v-model="show"
		transition="scale-transition"
		style="cursor:pointer; position: fixed; top: 70px; z-index: 1000; right: 20px;"
		dismissible
	>
		<div class="ml-3">{{ alertData.message }}</div>
	</v-alert>
</template>

<script>
	export default {
		data() {
			return {
				alertIcon: "mdi-checkbox-marked-circle-outline",
				timeout: 5000,
				show: false,
				alertData: null,
				color: 'success'
			}
		},
		mounted() {
			this.$eventBus.$on('trigger_alert', (alertData) => {
				this.alertData = alertData

				if (this.alertData.status === "error") {
					this.alertIcon = "mdi-alert-circle-outline";
					this.color = 'danger'
				} else if (this.alertData.status === "success") {
					this.alertIcon = "mdi-checkbox-marked-circle-outline";
                    this.color = 'success'
				} else if (this.alertData.status === "info") {
					this.alertIcon = "mdi-information-outline";
                    this.color = 'info'
				} else if (this.alertData.status === "warning") {
					this.alertIcon = "mdi-alert-outline";
                    this.color = 'warning'
				}

				this.show = true;

				setTimeout(() => {
					this.show = false;
				}, this.timeout);
			})
		}
	}
</script>
