<template>
	<div>
		<v-app-bar app light fixed clipped-left elevate-on-scroll elevation="2" color="white">
			<v-app-bar-nav-icon @click="toggleMenu"/>

			<span class="title ml-3 mr-5">
                Contract Management
			</span>

			<v-spacer/>

			<v-text-field
				dense
				solo-inverted
				flat
				hide-details
				label="Search everything..."
				prepend-inner-icon="mdi-magnify"
			/>

			<v-spacer/>

				<v-btn icon light class="mx-2">
					<v-badge
						:content="1"
						:value="1"
						dot
						color="red"
						overlap
					>
						<v-icon>mdi-message-alert-outline</v-icon>
					</v-badge>
				</v-btn>

			<v-menu close-delay="30" open-on-hover offset-y>
				<template v-slot:activator="{ on }">
					<v-btn icon class="mr-2" v-on="on">
						<v-avatar size="28">
							<v-icon>mdi-account-circle</v-icon>
						</v-avatar>
					</v-btn>
				</template>
				<v-list>
					<v-list-item @click.stop="$helpers.helper.nav.goTo('link')">
						<v-list-item-title>Profile</v-list-item-title>
					</v-list-item>
					<v-list-item @click.stop="$helpers.helper.nav.goTo('/account')">
						<v-list-item-title>Account</v-list-item-title>
					</v-list-item>
				</v-list>
			</v-menu>

			<v-btn icon light class="mr-1" @click.stop="logout">
				<v-icon>mdi-location-exit</v-icon>
			</v-btn>
		</v-app-bar>
	</div>
</template>

<script>
	export default {
		props: {
			user: Object
		},
		methods: {
			toggleMenu() {
				this.$eventBus.$emit('toggle-menu')
			},
			logout() {
				this.$inertia.visit('/logout', {
					method: 'get',
					replace: true
				})
			}
		}
	}
</script>
