<template>
	<v-card elevation="5">
		<v-toolbar flat class="grey lighten-5 grey--text text--darken-2">
			<v-toolbar-title>{{ title }}</v-toolbar-title>
			<v-spacer></v-spacer>
			<v-btn v-if="titleButton" color="indigo" depressed dark @click="buttonClicked">
				{{ titleButtonText }}
			</v-btn>
		</v-toolbar>
		<v-card-text v-if="!hideCardMargin">
			<slot/>
		</v-card-text>
		<slot v-else/>
		<v-card-actions v-if="actions">
			<v-btn
				v-if="actions.hasOwnProperty('cancel') && actions.cancel"
				class="mr-2 mb-2"
				text
				depressed
				@click="cancelClicked"
			>
				Cancel
			</v-btn>
			<v-spacer></v-spacer>
			<v-btn
				v-if="actions.hasOwnProperty('actionable') && actions.actionable.active"
				class="mr-2 mb-2"
				color="indigo"
				dark
				depressed
				@click="actionableClicked"
			>
				{{ actions.actionable.text }}
			</v-btn>
		</v-card-actions>
	</v-card>
</template>

<script>
	export default {
		props: {
			title: String,
			titleButton: Boolean,
			titleButtonText: String,
			hideCardMargin: Boolean,
			actions: Object
		},
		methods: {
			buttonClicked() {
				this.$emit('cardTitleButtonClicked')
			},
			actionableClicked() {
				this.$emit('actionableClicked')
			},
			cancelClicked() {
				this.$emit('cancelClicked')
			}
		}
	}
</script>

<style scoped>

</style>