<template>
    <v-navigation-drawer v-model="drawer" dark :mini-variant="mini" app clipped color="indigo darken-4">
        <v-list dense class="indigo darken-4 mt-10" nav>
            <div v-for="(item, i) in items" :key="i">
                <v-list-item @click="$helpers.helper.nav.goTo(item.path)" link>
                    <v-list-item-action>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title class="grey--text">
                            {{ item.name }}
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item v-for="(child, c) in item.children" :key="c" @click="$helpers.helper.nav.goTo(child.path)" link>
                    <v-list-item-action>
                        <v-icon>{{ child.icon }}</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title class="grey--text">
                            {{ child.name }}
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-divider v-if="item.children"></v-divider>
            </div>
        </v-list>
        <v-btn x-small text exact icon class="mx-4 mt-8 mb-1" @click="minimizeMenu">
            <v-icon v-if="!mini">mdi-arrow-left-circle-outline</v-icon>
            <v-icon v-else>mdi-arrow-right-circle-outline</v-icon>
        </v-btn>
    </v-navigation-drawer>
</template>

<script>
	export default {
        data: () => ({
            mini: false,
            drawer: null,
            items: [
                {
                    name: 'Dashboard',
                    path: '/dashboard',
                    icon: 'mdi-view-dashboard-variant'
                }
            ]
        }),
        methods: {
            minimizeMenu() {
                this.mini = !this.mini
            }
        },
        mounted() {
            this.$eventBus.$on('toggle-menu', () => {
                this.drawer = !this.drawer;
            });
        }
    }
</script>
