<template>
    <div class="mb-5">
        <p class="headline grey--text text--darken-3 font-weight-thin mb-0 p-0">{{ title }}</p>
        <span v-if="subtitle" class="caption grey--text text--darken-3">{{ subtitle }}</span>
    </div>
</template>

<script>
    export default {
        props: {
            title: String,
            subtitle: String
        }
    }
</script>
