<template>
	<layout :title="title" :user="user" :authenticated="authenticated">
        <title-area :title="title"/>
    </layout>
</template>

<script>
    import Layout from '../../../Shared/Layout'
    import TitleArea from '../../../Utils/TitleArea'

	export default {
		components: {
		    Layout,
            TitleArea
        },
        props: {
            title: String,
            user: Object,
            authenticated: Boolean
        }
    }
</script>
