<template>
	<div>
		<v-data-table
			:headers="headers"
			:items="data"
		></v-data-table>
	</div>
</template>

<script>
	export default {
		props: {
			data: Array,
			headers: Array
		}
	}
</script>