<template>
	<layout :title="title" :user="user" :authenticated="authenticated">
		<div class="container-sm">
			<title-area :title="title" subtitle="Update the account details on the fly"/>
			<account-menu active="Account"/>

			<card
				class="mt-5"
				title="Update Account"
				:actions="{actionable: {active: true, text: 'Update Account'}}"
				@actionableClicked="updateAccount"
			>
				<v-form ref="accountForm" lazy-validation>
					<v-row>
						<v-col sm="12" md="6">
							<v-text-field
								v-model="form.instance_name"
								label="Company name *"
								placeholder="Company name"
								:rules="$helpers.helper.rules.requiredFieldRule"
								outlined
							></v-text-field>
						</v-col>
						<v-col sm="12" md="6"></v-col>
						<v-col sm="12" md="6">
							<v-text-field
								v-model="form.address_line_1"
								label="Address line 1 *"
								placeholder="Address"
								:rules="$helpers.helper.rules.requiredFieldRule"
								outlined
							></v-text-field>
						</v-col>
						<v-col sm="12" md="6">
							<v-text-field
								v-model="form.address_line_2"
								label="Address line 2"
								placeholder="Address"
								outlined
							></v-text-field>
						</v-col>
						<v-col sm="12" md="4">
							<v-text-field
								v-model="form.city"
								label="City *"
								placeholder="City"
								:rules="$helpers.helper.rules.requiredFieldRule"
								outlined
							></v-text-field>
						</v-col>
						<v-col sm="12" md="4">
							<v-text-field
								v-model="form.state"
								label="State / Province *"
								placeholder="State"
								:rules="$helpers.helper.rules.requiredFieldRule"
								outlined
							></v-text-field>
						</v-col>
						<v-col sm="12" md="4">
							<v-text-field
								v-model="form.country"
								label="Country *"
								placeholder="country"
								:rules="$helpers.helper.rules.requiredFieldRule"
								outlined
							></v-text-field>
						</v-col>

						<v-col sm="12" md="4">
							<v-text-field
								v-model="form.website"
								label="Website"
								placeholder="https://www.foobar.com"
								outlined
							></v-text-field>
						</v-col>
						<v-col sm="12" md="4">
							<v-text-field
								v-model="form.direct_phone"
								label="Contact phone number"
								placeholder="Direct phone number to contact company"
								outlined
							></v-text-field>
						</v-col>
						<v-col sm="12" md="4">
							<v-text-field
								v-model="form.direct_email"
								label="Contact email address *"
								placeholder="Direct email contact"
								:rules="$helpers.helper.rules.emailValidationRules"
								outlined
							></v-text-field>
						</v-col>
					</v-row>
				</v-form>
			</card>

			<card class="mt-5"
				title="Danger Zone!"
			>
				<p>
					If you are sure you do not want to continue, you may delete your account. Your account will still run it's course till the end of the current subscription
					tenure and you will be able to access it. You may choose to reverse this action while your subscription is still
					active. Once your account has been deleted, the action is irreversible.
				</p>

				<v-form>
					<v-row>
						<v-col sm="12" md="8" lg="8">
							<v-text-field
								label="Confirm delete"
								placeholder="Enter 'DELETE {your-account-name}' here to confirm account deletion"
								outlined
							></v-text-field>
						</v-col>
						<v-col sm="12" md="4" lg="4">
							<v-btn color="red" dark x-large block>
								Delete account
							</v-btn>
						</v-col>
					</v-row>
				</v-form>
			</card>

		</div>
	</layout>
</template>

<script>
	import Layout from '../../../Shared/Layout'
	import TitleArea from '../../../Utils/TitleArea'
	import AccountMenu from './utils/AccountMenu'
	import Card from '../../../Utils/Card'

	export default {
		props: {
			title: String,
			user: Object,
			authenticated: Boolean,
		},
		components: {Card, AccountMenu, TitleArea, Layout},
		data () {
			return {
				form: {
					instance_name: this.user.instance.instance_name,
					address_line_1: this.user.instance.address_line_1,
					address_line_2: this.user.instance.address_line_2,
					city: this.user.instance.city,
					state: this.user.instance.state,
					country: this.user.instance.country,
					website: this.user.instance.website,
					direct_phone: this.user.instance.direct_phone,
					direct_email: this.user.instance.direct_email
				}
			}
		},

		methods: {
			updateAccount() {
				console.log('form submitted')
			}
		},
		mounted() {
			this.$nextTick(() => {
				this.$eventBus.$emit('toggle-menu')
			})
		}
	}
</script>