<template>
	<layout :title="title" :user="user" :authenticated="authenticated">
      <div class="container-sm">
				<title-area class="text-center" :title="title"/>
				<v-layout>
					<v-flex>
						<v-btn icon @click="toLink('/account/subscription')">
							<v-icon>mdi-arrow-left</v-icon>
						</v-btn>
					</v-flex>
					<v-flex>
						<div v-if="for_payment" class="text-center">
							<p>You are making a payment of {{ $helpers.helper.formatPrice(payment_data.amount) }}</p>
						</div>
						<v-card elevation="5" class="mb-4">
							<v-card-text>
								<p>Enter your card details below to add or update your payment method.</p>

								<v-form ref="_update_payment_method" lazy-validation>
									<div>
										<div id="card-errors" role="alert"></div>
										<div class="mimic-input mb-5 mt-0">
											<div id="card"></div>
										</div>
									</div>
									<v-text-field
										v-model="paymentMethod.name_on_card"
										label="Name *"
										placeholder="John Doe"
										:rules="$helpers.helper.rules.requiredFieldRule"
										outlined/>
									<v-text-field
										v-model="paymentMethod.email"
										type="email"
										label="Email address *"
										placeholder="email@example.com"
										:rules="$helpers.helper.rules.emailValidationRules"
										@input="paymentMethod.email = $event.toLowerCase()"
										outlined/>
								</v-form>
							</v-card-text>
						</v-card>
						<v-btn v-if="for_payment" class="float-right" :loading="loading" color="indigo darken-1" dark depressed
									 @click="pay">
							Pay {{ $helpers.helper.formatPrice(payment_data.amount) }}
						</v-btn>
						<v-btn v-else class="float-right" :loading="loading" color="indigo darken-1" dark depressed @click="save">
							Save
						</v-btn>
					</v-flex>
					<v-flex></v-flex>
				</v-layout>
      </div>
	</layout>
</template>

<script>
	import Layout from '../../../Shared/Layout'
	import TitleArea from '../../../Utils/TitleArea'

	export default {
		data() {
			return {
				loading: false,
				stripe: null,
				stripeStyle: {
					base: {
						color: "#32325d",
						fontSmoothing: "antialiased",
						fontSize: "16px",
						"::placeholder": {
							color: "#aab7c4"
						}
					},
					invalid: {
						color: "#fa755a",
						iconColor: "#fa755a"
					},
				},
				element: null,
				card: null,
				paymentIntent: null,
				cardActionData: {
					stripeIntent: null,
					paymentData: this.payment_data
				},
				paymentMethod: {
					name_on_card: null,
					email: null,
					pm: null,
					redirect: true,
					payment_data: this.payment_data
				}
			}
		},
		components: {Layout, TitleArea},
		props: {
			title: String,
			user: Object,
			authenticated: Boolean,
			intent: Object,
			for_payment: Boolean,
			payment_data: Object,
			default_payment_method: Object
		},
		methods: {
			async mountStripe() {
				this.card.mount('#card')
				this.card.addEventListener('change', ({error}) => {
					const displayError = document.getElementById('card-errors')
					if (error) {
						displayError.textContent = error.message
					} else {
						displayError.textContent = ''
					}
				})
			},
			async save() {
				console.log('saving')
				this.loading = true
				if (this.$refs._update_payment_method.validate()) {
					const {setupIntent, error} = await this.stripe.confirmCardSetup(
						this.intent.client_secret, {
							payment_method: {
								card: this.card,
								billing_details: {
									name: this.paymentMethod.name_on_card,
									email: this.paymentMethod.email
								}
							}
						}
					)

					if (error) {
						this.loading = false
					} else {
						this.paymentMethod.pm = setupIntent.payment_method

						this.$inertia.post('/account/payment-method', this.paymentMethod)
					}
				}
			},
			async pay() {
				this.loading = true
				if (this.$refs._update_payment_method.validate()) {
					const {paymentIntent, error} = await this.stripe.confirmCardPayment(
						this.intent.client_secret, {
							payment_method: {
								card: this.card,
								billing_details: {
									name: this.paymentMethod.name_on_card,
									email: this.paymentMethod.email
								}
							}
						}
					)

					if (error) {
						this.loading = false
						//console.log(error)
						let errorMessage = 'Card Declined.'
						if (error.decline_code === 'insufficient_funds')
							errorMessage = 'Insufficient funds in card. Card declined. Please try a different card.'

						this.$eventBus.$emit('trigger_alert', {
							status: 'error',
							message: errorMessage
						})

						return
					}

					this.cardActionData.stripeIntent = paymentIntent

					this.$inertia.post('/account/make-payment', this.cardActionData)
				}
			},
			toLink(link) {
				this.$inertia.replace(link, {
					method: 'get'
				})
			}
		},
		mounted() {
			this.$nextTick(() => {
				this.$eventBus.$emit('toggle-menu')
			})

			this.$stripeLoader.initialize().then(() => {
				this.stripe = Stripe(process.env.MIX_STRIPE_KEY)
				this.elements = this.stripe.elements()
				this.card = this.elements.create('card')
				this.mountStripe()
			})
		}
	}
</script>
