<template>
	<layout :title="title" :user="user" :authenticated="authenticated">

		<v-layout>
			<v-flex md2 lg2 class="hidden-sm-and-down"></v-flex>
			<v-flex>
				<div class="text-center">
					<title-area :title="title"/>
					<p>Simple plans with no hidden fees and no strings attached.</p>
				</div>
				<div class="center-switch mt-10 mx-auto">
					<v-layout>
						<v-flex class="pt-5"><b>Billed monthly</b></v-flex>
						<v-flex class="pl-3">
							<v-switch color="indigo" v-model="selectedTenure" inset false-value="month" true-value="year"/>
						</v-flex>
						<v-flex class="pt-5"><b>Billed annually</b></v-flex>
					</v-layout>
				</div>
				<div class="mt-10">
					<plan-table :plans="plans" :tenure="selectedTenure"/>
				</div>
			</v-flex>
			<v-flex md2 lg2 class="hidden-sm-and-down"></v-flex>
		</v-layout>
	</layout>
</template>

<script>
	import Layout from '../../../Shared/Layout'
	import TitleArea from '../../../Utils/TitleArea'
	import PlanTable from './utils/PlanTable'

	export default {
		components: {
			Layout,
			TitleArea,
			PlanTable
		},
		props: {
			title: String,
			user: Object,
			authenticated: Boolean,
			plans: Object
		},
		data() {
			return {
				selectedTenure: 'month'
			}
		}
	}
</script>
