<template>
	<layout :title="title" :user="user" :authenticated="authenticated">
		<div class="container-sm">
			<title-area class="text-center" :title="title"/>
			<v-layout>
				<v-flex>
					<v-btn icon @click="$helpers.helper.nav.goTo('/account/subscription')">
						<v-icon>mdi-arrow-left</v-icon>
					</v-btn>
				</v-flex>
				<v-flex>
					<p>
						Extra confirmation is needed to process your payment of {{ $helpers.helper.formatPrice(payment.amount) }}.
						Please confirm your payment by filling out your payment details below.
					</p>

					<div class="ma-3 pa-5 light-green rounded" v-if="successMessage">
						{{ successMessage }}
					</div>

					<div class="ma-3 pa-5 red lighten-4 rounded" v-if="errorMessage">
						{{ errorMessage }}
					</div>

					<v-card elevation="5" class="mb-4" v-if="!processed">
						<v-card-text>
							<v-form ref="_update_payment_method" lazy-validation>
								<div>
									<div id="card-errors" role="alert"></div>
									<div class="mimic-input mb-5 mt-0">
										<div id="card"></div>
									</div>
								</div>
								<v-text-field
									v-model="paymentMethod.name_on_card"
									label="Name on card *"
									placeholder="John Doe"
									:rules="$helpers.helper.rules.requiredFieldRule"
									outlined/>
							</v-form>
						</v-card-text>
					</v-card>
					<v-btn class="float-right" :loading="loading" color="indigo darken-1" dark depressed @click="confirmPayment">
						Confirm payment of {{ $helpers.helper.formatPrice(payment.amount) }}
					</v-btn>
				</v-flex>
				<v-flex></v-flex>
			</v-layout>
		</div>
	</layout>
</template>

<script>
	import Layout from '../../../Shared/Layout'
	import TitleArea from '../../../Utils/TitleArea'

	export default {
		props: {
			title: String,
			user: Object,
			authenticated: Boolean,
			payment: Object,
			redirect: String
		},
		components: {Layout, TitleArea},
		data() {
			return {
				loading: false,
				processed: false,
				successMessage: null,
				errorMessage: null,
				stripe: null,
				stripeStyle: {
					base: {
						color: "#32325d",
						fontSmoothing: "antialiased",
						fontSize: "16px",
						"::placeholder": {
							color: "#aab7c4"
						}
					},
					invalid: {
						color: "#fa755a",
						iconColor: "#fa755a"
					},
				},
				element: null,
				card: null,
				paymentMethod: {
					name_on_card: null
				}
			}
		},
		methods: {
			async mountStripe() {
				this.card.mount('#card')
				this.card.addEventListener('change', ({error}) => {
					const displayError = document.getElementById('card-errors')
					if (error) {
						displayError.textContent = error.message
					} else {
						displayError.textContent = ''
					}
				})
			},
			confirmPayment() {
				let self = this

				this.loading = true
				this.successMessage = null
				this.errorMessage = null

				this.stripe.confirmCardPayment(this.payment.client_secret, {
					payment_method: {
						card: this.card,
						billing_details: {
							name: this.paymentMethod.name_on_card
						}
					}
				}).then(function (result) {
					self.loading = false

					if (result.error) {
						if (result.error.code === 'parameter_invalid_empty' && result.error.param === 'payment_method_data[billing_details][name]') {
							self.errorMessage = 'Please provide your name.'
						} else {
							self.errorMessage = result.error.message
						}
					} else {
						self.processed = true
						self.successMessage = 'Payment was successful.'
						setTimeout(function () {
							window.location.href = self.redirect
						}, 2000)
					}
				})

			}
		},
		mounted() {
			this.$nextTick(() => {
				this.$eventBus.$emit('toggle-menu')
			})

			this.$stripeLoader.initialize().then(() => {
				this.stripe = Stripe(process.env.MIX_STRIPE_KEY)
				this.elements = this.stripe.elements()
				this.card = this.elements.create('card')
				this.mountStripe()
			})
		}
	}
</script>
