<template>
	<layout :title="title" :user="user" :authenticated="authenticated">
        <v-container style="height: 600px;">
            <v-row
                class="fill-height"
                align-content="center"
                justify="center"
            >
                <v-col
                    class="subtitle-1 text-center"
                    cols="12"
                >
                    Processing payment
                </v-col>
                <v-col cols="6">
                    <v-progress-linear
                        color="indigo"
                        indeterminate
                        rounded
                        height="6"
                    ></v-progress-linear>
                </v-col>
            </v-row>
        </v-container>
    </layout>
</template>

<script>
    import Layout from '../../../Shared/Layout'

	export default {
        components: { Layout },
        props: {
            title: String,
            user: Object,
            authenticated: Boolean,
		    payment_data: Object,
            payment_method: Object
        },
        data () {
            return {
                subscription_data: {
                    payment_method: {},
                    payment_data: {},
                }
            }
        },
        mounted() {
            this.subscription_data.payment_data = this.payment_data
            this.subscription_data.payment_method = this.payment_method

            this.$inertia.post('/account/make-payment', this.subscription_data)
        }
    }
</script>
