<template>
	<layout :title="title" :user="user" :authenticated="authenticated">
		<div class="container-sm">
			<title-area :title="title" subtitle="Update Subscription details"/>
			<account-menu active="Subscription"/>

			<v-layout class="mt-5 pt-5">
				<v-flex sm12 md7 lg7>
					<card title="Plan"
						:title-button="true"
						title-button-text="Change plan"
						@cardTitleButtonClicked="changePlan = !changePlan"
					>
						You are currently subscribed to the <b>{{ plans[subscription.stripe_plan].name }}</b> with a total of
						<b>{{ seats }}</b> seat(s).
					</card>
				</v-flex>
				<v-flex class="pl-2">
					<card
						title="Payment method"
						:title-button="true"
						:title-button-text="(!Object.keys(payment_method).length) ? 'Add card' : 'Update card'"
						@cardTitleButtonClicked="toLink('/account/payment-method')"
					>
						<div v-if="!Object.keys(payment_method).length">
							You do not have a payment method. If you do not wish to upgrade, ignore this. If you
							need to upgrade your account, you will need to provide one for payment.
						</div>
						<div v-else>
							<b>{{ payment_method.brand }}</b> ending in <b>{{ payment_method.last_four }}</b>
						</div>
					</card>
				</v-flex>
			</v-layout>

			<v-expand-transition>
				<v-card v-if="changePlan" class="mt-7" outlined flat color="transparent">
					<p class="headline text-center grey--text">Choose a plan</p>
					<div class="center-switch mx-auto">
						<v-layout>
							<v-flex class="pt-5"><b>Billed monthly</b></v-flex>
							<v-flex class="pl-3">
								<v-switch color="indigo" v-model="selectedTenure" inset false-value="month" true-value="year"/>
							</v-flex>
							<v-flex class="pt-5"><b>Billed annually</b></v-flex>
						</v-layout>
					</div>
					<plan-table :plans="subscribable_plans" :tenure="selectedTenure"/>
				</v-card>
			</v-expand-transition>

			<div class="pt-10">
				<h4 class="mb-4">Features included in plan</h4>
				<features :plans="plans" :subscription="subscription"/>
			</div>

			<invoices class="mt-10" :subscription="subscription" :invoices="invoices"/>
		</div>
	</layout>
</template>

<script>
	import Layout from '../../../Shared/Layout'
	import TitleArea from '../../../Utils/TitleArea'
	import Features from './utils/Features'
	import Invoices from './utils/Invoices'
	import AccountMenu from './utils/AccountMenu'
	import PlanTable from './utils/PlanTable'
	import Card from '../../../Utils/Card'

	export default {
		data() {
			return {
				changePlan: false,
				selectedTenure: 'month'
			}
		},
		components: {
			Layout,
			TitleArea,
			Features,
			Invoices,
			AccountMenu,
			PlanTable,
			Card
		},
		props: {
			title: String,
			user: Object,
			authenticated: Boolean,
			subscription: Object,
			invoices: Array,
			payment_method: Boolean | Array,
			plans: Object,
			subscribable_plans: Object,
            seats: Number
		},
		methods: {
			toLink(link) {
				this.$inertia.replace(link, {
					method: 'get'
				})
			}
		},
		mounted() {
			this.$nextTick(() => {
				this.$eventBus.$emit('toggle-menu')
			})
		}
	}
</script>
