<template>
	<v-expansion-panels>
		<v-expansion-panel>
			<v-expansion-panel-header disable-icon-rotate>
				<p class="text-subtitle-1 mb-0 pb-0 font-weight-light">{{ user.name }}</p>
				<template v-slot:actions>
					<v-chip small label dark class="mr-2" color="green" v-if="currentUser">Me</v-chip>
					<v-chip small label class="mr-2"><v-icon small class="mr-2">mdi-account-cog-outline</v-icon>
						{{ user.roles[0].role_name.replace('account_', '')[0].toUpperCase() + user.roles[0].role_name.replace('account_', '').slice(1) }}
					</v-chip>
					<v-chip v-if="user.status" small label><v-icon small class="mr-2" color="teal">mdi-check</v-icon> Enabled</v-chip>
					<v-chip v-else small label><v-icon small class="mr-2" color="red">mdi-window-close</v-icon> Disabled</v-chip>
				</template>
			</v-expansion-panel-header>
			<v-expansion-panel-content>
				<v-divider class="mb-5"/>

				<v-layout>
					<v-flex sm12 md6 lg6>
						<div class="mr-5 mb-5">
							<p class="heading mb-5">Toggle user status</p>
							<p class="caption">This effectively blocks access to all assets on this instance by this user. This does not free up seats occupied by this user.</p>
							<v-switch :disabled="currentUser" v-model="user.status" @change="toggleStatus" inset :label="`User status ( ${(user.status) ? 'enabled' : 'disabled'} )`"></v-switch>
						</div>
						<div class="mr-5 mb-5" v-if="!currentUser">
							<p class="heading mb-5">Remove user</p>
							<p class="caption">Removing users blocks access to all assets on this instance indefinitely, while releasing the seat occupied by this user. This operation is not reversible.</p>
							<v-btn depressed color="red" @click="deleteUser" dark><v-icon class="mr-3" small>mdi-alert-outline</v-icon>Delete user</v-btn>
						</div>
					</v-flex>
					<v-flex sm12 md6 lg6>
						<p class="heading mb-5">Update User</p>
						<p class="mb-5">Fill in the form to update a user. Passwords may be reset for a use but only if you are an admin.</p>
						<v-form :ref="'_edit_user_' + user.id" lazy-validation>
							<v-text-field
								v-model="user.name"
								label="Full name*"
								:rules="$helpers.helper.rules.requiredFieldRule"
								:disabled="currentUser"
								outlined
							/>
							<v-text-field
								v-model="user.email"
								disabled
								label="Email*"
								outlined
							/>
							<v-text-field
								v-model="user.attributes.contact_phone"
								label="Contact phone"
								:disabled="currentUser"
								outlined
							/>
						</v-form>

						<v-btn v-if="!currentUser" color="indigo" @click="saveUserChanges" dark>Save Changes</v-btn>
					</v-flex>
				</v-layout>

			</v-expansion-panel-content>
		</v-expansion-panel>
	</v-expansion-panels>
</template>

<script>
	import TitleArea from "../../../Utils/TitleArea";
	export default {
		components: {TitleArea},
		props: {
			user: Object,
			currentUser: Boolean
		},
		data() {
			return {

			}
		},
		methods: {
			toggleStatus() {
				if (this.status !== this.user.status) {
					this.$inertia.put(`/account/users/${this.user.id}`, {status: this.user.status})
				}
			},
			saveUserChanges() {
				this.$inertia.put(`/account/users/${this.user.id}`, {user: this.user})
			},
            deleteUser() {
			    this.$inertia.delete(`/account/users/${this.user.id}`, {user: this.user})
            }
		}
	}
</script>
