<template>
	<layout :title="title" :user="user" :authenticated="authenticated">
		<div class="container-sm">
			<title-area :title="title" subtitle="Manage users and access"/>
			<account-menu active="Users"/>

			<div class="mt-10">

				<v-layout>
					<v-flex sm12 md7 lg7>
						<v-btn @click="add_user = true" color="indigo" dark depressed><v-icon class="mr-2">mdi-plus</v-icon> new user</v-btn>
					</v-flex>
					<v-flex md12 md1 lg1 class="text-right">
						<v-menu :offset-y="true">
							<template v-slot:activator="{ on: menu, attrs }">
								<v-tooltip top>
									<template v-slot:activator="{ on: tooltip }">
										<v-btn
											class="mr-3"
											color="indigo"
											dark
											icon
											v-bind="attrs"
											v-on="{ ...tooltip, ...menu }"
										>
											<v-icon>mdi-filter-outline</v-icon>
										</v-btn>
									</template>
									<span>Filter</span>
								</v-tooltip>
							</template>
							<v-list>
								<v-list-item
									v-for="(item, index) in filter"
									:key="index"
									@click="queryFilter.filter = item.value"
								>
									<v-list-item-title>{{ item.title }}</v-list-item-title>
								</v-list-item>
							</v-list>
						</v-menu>
					</v-flex>
					<v-flex sm12 md2 lg2>
						<v-select
							class="mr-3"
							v-model="queryFilter.order"
							:items="orderTypes"
							item-text="name"
							item-value="key"
							label="Order"
							placeholder="Order"
							solo
							dense
						></v-select>
					</v-flex>
					<v-flex class="hidden-sm-and-down" md2 lg2>
						<v-text-field
							v-model="queryFilter.search"
							dense
							placeholder="Search users"
							solo
						></v-text-field>
					</v-flex>
				</v-layout>

				<user-list-item
					class="mb-5"
                    v-if="users.data.length"
					v-for="(user, index) in users.data"
					:key="index"
					:user="user"
					:current-user="current_user.id === user.id"
				/>
                <div v-else>
                    Nothing was found.
                </div>

				<div class="mt-3">
					<v-pagination
						color="indigo"
						v-model="users.meta.current_page"
						:length="users.meta.last_page"
						:total-visible="7"
						@input="queryFilter.page = $event"
					/>
				</div>

			</div>

			<v-dialog v-model="add_user" persistent max-width="600px">
				<v-card>
					<v-card-title>
						<p>Add new user</p>
					</v-card-title>
					<v-card-text>
						<v-container>
							<v-form ref="newUser" lazy-validation>
								<v-row>
									<v-col cols="12" sm="12" md="12">
										<v-text-field
											v-model="new_user.name"
											label="Full name *"
											placeholder="John Doe"
											outlined
											:rules="$helpers.helper.rules.requiredFieldRule"/>
									</v-col>
									<v-col cols="12" sm="12" md="6">
										<v-text-field
											v-model="new_user.email"
											label="Email *"
											placeholder="john@doe.com"
											:rules="$helpers.helper.rules.emailValidationRules"
											outlined
										/>
									</v-col>
									<v-col cols="12" sm="12" md="6">
										<v-text-field
											v-model="new_user.contact_phone"
											label="Contact phone number"
											placeholder="Phone number of user"
											outlined
										/>
									</v-col>
									<v-col cols="12">
										<p class="caption">User role *</p>
										<v-radio-group v-model="new_user.role" :mandatory="true">
											<v-radio label="Admin" value="account_manager"></v-radio>
											<v-radio label="Client" value="account_client"></v-radio>
										</v-radio-group>
									</v-col>
								</v-row>
							</v-form>
						</v-container>
						<small>*indicates required field</small>
					</v-card-text>
					<v-card-actions class="px-3 pb-3">
						<v-btn color="blue darken-1" text @click="add_user = false">Close</v-btn>
						<v-spacer></v-spacer>
						<v-btn color="indigo" depressed dark @click="saveNewUser">Save</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>

		</div>
	</layout>
</template>

<script>
	import Layout from '../../../Shared/Layout'
	import TitleArea from "../../../Utils/TitleArea";
	import AccountMenu from './utils/AccountMenu'
	import UserListItem from './UserListItem'

	export default {
		props: {
			title: String,
			user: Object,
			authenticated: Boolean,
			users: Object
		},
		components: {UserListItem, AccountMenu, TitleArea, Layout},
		data () {
			return {
				loading: false,
				users_data: [],
				current_user: this.user,
				add_user: false,
				new_user: {
					name: null,
					email: null,
					contact_phone: null,
					role: null
				},
				orderTypes: [
					{
						name: 'Name - Ascending',
						key: 'asc_users.name'
					},
					{
						name: 'Name - Descending',
						key: 'desc_users.name'
					},
					{
						name: 'Date - Ascending',
						key: 'asc_users.id'
					},
					{
						name: 'Date - Descending',
						key: 'desc_users.id'
					}
				],
				filter: [
					{ title: 'All', value: 'all' },
					{ title: 'Clients', value: 'client' },
					{ title: 'Manager', value: 'manager' }
				],
				queryFilter: {
					order: null,
					page: 1,
					search: null,
					filter: null
				}
			}
		},
		watch: {
			users: {
				deep: true,
				handler() {
					this.add_user = false
				}
			},
			queryFilter: {
				deep: true,
				handler() {
					this.loadUsers()
				}
			}
		},
		methods: {
			loadUsers() {
				this.$inertia.replace('/account/users', {
					method: 'get',
					data: this.queryFilter,
					preserveState: true,
					preserveScroll: true,
					only: ['users'],
				})

				//this.$inertia.get(`/account/users?page=${this.queryFilter.page}&orderQuery=${this.queryFilter.order}`)
			},
			saveNewUser() {
				if (this.$refs.newUser.validate()) {
					this.loading = true
					this.$inertia.post('/account/users', this.new_user)
				}
			}
		},
		mounted() {
			this.$nextTick(() => {
				this.$eventBus.$emit('toggle-menu')
			})

			this.users_data = this.users.data.map(user => {
				user.role_id = (user.roles) ? user.roles[0]['id'] : null
				user.role_name = (user.roles) ? this.$helpers.helper.firstLetterUpperCase(user.roles[0]['role_name'].replace('_', ' ')) : null
				return user;
			})
		}
	}
</script>
