<template>
	<v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
		<v-card>
			<div class="container">

				<v-layout>
					<v-flex xs12 md4 lg4>
						<div class="py-5 pr-10">
							<h2 class="thin font-weight-light my-3">Register a new account</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
								exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
								irure
								dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
								pariatur.
								Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
								mollit anim id est laborum.
							</p>
						</div>
					</v-flex>
					<v-flex xs12 md8 lg8>
						<v-form class="mt-7" ref="regform" lazy-validation @submit.prevent="registerAccount">
							<v-list three-line subheader>
								<v-subheader class="ma-0 pa-0">User details</v-subheader>
							</v-list>

							<v-row class="pt-5">
								<v-col sm="12" md="6">
									<v-text-field
										v-model="form.user.email"
										label="Email *"
										placeholder="john@doe.com"
										:rules="$helpers.helper.rules.emailValidationRules"
										outlined
									></v-text-field>
								</v-col>
								<v-col sm="12" md="6">
									<v-text-field
										v-model="form.user.name"
										label="Full name *"
										placeholder="John Doe"
										outlined
										:rules="$helpers.helper.rules.requiredFieldRule"
									></v-text-field>
								</v-col>
								<v-col sm="12" md="6">
									<v-text-field
										v-model="form.user.password"
										label="Password *"
										placeholder="Enter password"
										outlined
										:append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
										:type="showPassword ? 'text' : 'password'"
										:rules="$helpers.helper.rules.requiredFieldRule"
										@click:append="showPassword = !showPassword"
									></v-text-field>
								</v-col>
								<v-col sm="12" md="6">
									<v-text-field
										v-model="form.user.confPassword"
										label="Password confirmation *"
										placeholder="Confirm password"
										outlined
										:append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
										:type="showPassword ? 'text' : 'password'"
										:rules="[passwordConfirmationRule]"
										@click:append="showPassword = !showPassword"
									></v-text-field>
								</v-col>
							</v-row>

							<v-list three-line subheader>
								<v-subheader class="ma-0 pa-0">Account details</v-subheader>
							</v-list>

							<v-row class="pt-5">
								<v-col sm="12" md="6">
									<v-text-field
										v-model="form.instance.instance_name"
										label="Company name *"
										placeholder="Company name"
										:rules="$helpers.helper.rules.requiredFieldRule"
										outlined
									></v-text-field>
								</v-col>
								<v-col sm="12" md="6"></v-col>
								<v-col sm="12" md="6">
									<v-text-field
										v-model="form.instance.address_line_1"
										label="Address line 1 *"
										placeholder="Address"
										:rules="$helpers.helper.rules.requiredFieldRule"
										outlined
									></v-text-field>
								</v-col>
								<v-col sm="12" md="6">
									<v-text-field
										v-model="form.instance.address_line_2"
										label="Address line 2"
										placeholder="Address"
										outlined
									></v-text-field>
								</v-col>
								<v-col sm="12" md="4">
									<v-text-field
										v-model="form.instance.city"
										label="City *"
										placeholder="City"
										:rules="$helpers.helper.rules.requiredFieldRule"
										outlined
									></v-text-field>
								</v-col>
								<v-col sm="12" md="4">
									<v-text-field
										v-model="form.instance.state"
										label="State / Province *"
										placeholder="State"
										:rules="$helpers.helper.rules.requiredFieldRule"
										outlined
									></v-text-field>
								</v-col>
								<v-col sm="12" md="4">
									<v-text-field
										v-model="form.instance.country"
										label="Country *"
										placeholder="country"
										:rules="$helpers.helper.rules.requiredFieldRule"
										outlined
									></v-text-field>
								</v-col>

								<v-col sm="12" md="4">
									<v-text-field
										v-model="form.instance.website"
										label="Website"
										placeholder="https://www.foobar.com"
										outlined
									></v-text-field>
								</v-col>
								<v-col sm="12" md="4">
									<v-text-field
										v-model="form.instance.direct_phone"
										label="Contact phone number"
										placeholder="Direct phone number to contact company"
										outlined
									></v-text-field>
								</v-col>
								<v-col sm="12" md="4">
									<v-text-field
										v-model="form.instance.direct_email"
										label="Contact email address *"
										placeholder="Direct email contact"
										:rules="$helpers.helper.rules.emailValidationRules"
										outlined
									></v-text-field>
								</v-col>
							</v-row>
							<div class="mb-7">
								<small>By submitting this form, you have agreed to the terms of service and will
									abide by the rules set there in. See terms and conditions here.</small>
							</div>

							<v-btn color="indigo" :loading="loading" depressed dark type="submit">
								Register
							</v-btn>
							<v-btn text class="float-right" @click="dialog = false" v-if="!loading">Cancel</v-btn>
						</v-form>
					</v-flex>
				</v-layout>

			</div>
		</v-card>
	</v-dialog>
</template>

<script>
	export default {
		props: {
			show: {type: Boolean, default: false}
		},
		data() {
			return {
				loading: false,
				dialog: false,
				showPassword: false,
				form: {
					user: {
						name: null,
						email: null,
						password: null,
						confPassword: null,
					},
					instance: {
						instance_name: null,
						address_line_1: null,
						address_line_2: null,
						city: null,
						state: null,
						country: null,
						website: null,
						direct_phone: null,
						direct_email: null,
					}
				}
			}
		},
		computed: {
			passwordConfirmationRule() {
				return this.form.user.password === this.form.user.confPassword &&
					!!this.form.user.confPassword ||
					"Password must match!";
			}
		},
		watch: {
			show(newValue) {
				this.dialog = newValue
			},
			dialog(newValue) {
				if (!newValue)
					this.$emit('close')
			}
		},
		methods: {
			registerAccount() {
				if (this.$refs.regform.validate()) {
					this.loading = true
					this.$inertia.post('/registration', this.form)
				}
			}
		}
	}
</script>
