<template>
	<div>
		<v-app>
            <alerts/>
			<app-bar v-if="authenticated" :user="user"/>
			<con-menu v-if="authenticated"/>
			<v-main>
				<v-container :class="containerClass()">
					<slot/>
				</v-container>
			</v-main>
		</v-app>
	</div>
</template>

<script>
	import AppBar from '../Utils/AppBar'
	import ConMenu from '../Utils/ConMenu'
	import Alerts from '../Utils/Alerts'

	export default {
		props: {
			title: String,
			authenticated: Boolean,
			user: Object,
			full: Boolean
		},
		components: {AppBar, Alerts, ConMenu},
		data() {
			return {}
		},
		watch: {
			title: {
				immediate: true,
				handler(title) {
					document.title = title + ' - FortCon'
				},
			},
			$page: {
				handler(page) {
					if (page.validation_errors) {
						let firstError = (Object.keys(page.validation_errors).length) ? Object.keys(page.validation_errors)[0] : null

						if (firstError) {
							this.$eventBus.$emit('trigger_alert', {
								status: 'error',
								message: page.validation_errors[firstError].join('<br/>')
							})
						}
					}

					if (page.flash) {
						this.$eventBus.$emit('trigger_alert', {
							status: 'info',
							message: page.flash
						})
					}

				},
				deep: true
			}
		},
		methods: {
			containerClass() {
				let className = 'container pa-10'
				if (!this.authenticated)
					className = 'fill-height container--fluid pa-0'

				if (this.full)
					className = 'container--fluid pa-0'

				return className
			}
		}
	}
</script>
