<template>
	<div>
		<v-chip
			label
			v-for="(item, index) in items"
			:key="index" class="mr-2"
			:color="(active === item.name) ? 'indigo' : ''"
			:dark="(active === item.name)"
			@click="$helpers.helper.nav.goTo(item.link)"
		>
			<v-icon left>{{ item.icon }}</v-icon>
			{{ item.name }}
		</v-chip>
	</div>
</template>

<script>
	export default {
		props: {
			active: String
		},
		data() {
			return {
				items: [
					{
						name: 'Account',
						link: '/account',
						icon: 'mdi-home-city-outline'
					},
					{
						name: 'Subscription',
						link: '/account/subscription',
						icon: 'mdi-playlist-check'
					},
					{
						name: 'Users',
						link: '/account/users',
						icon: 'mdi-account-multiple-check'
					},
				]
			}
		}
	}
</script>