<template>
    <v-card>
        <v-card-title>Update Payment Method</v-card-title>
        <v-card-text>
            <p>Enter your card details below to add or update your payment method.</p>

            <v-form ref="_update_payment_method" lazy-validation>
                <div id="card-errors" role="alert"></div>
                <div class="mimic-input mb-5 mt-0">
                    <div id="card"></div>
                </div>
                <v-text-field
                    v-model="paymentMethod.name_on_card"
                    label="Name on card *"
                    placeholder="John Doe"
                    :rules="requiredFieldRule"
                    outlined/>
                <v-text-field
                    v-model="paymentMethod.email"
                    type="email"
                    label="Email address *"
                    placeholder="email@example.com"
                    :rules="emailValidationRules"
                    @input="paymentMethod.email = $event.toLowerCase()"
                    outlined/>
            </v-form>
        </v-card-text>
        <v-card-actions>
            <v-btn v-if="!loading" color="indigo darken-1" text @click="closePayment">Close</v-btn>
            <v-spacer></v-spacer>
            <v-btn
                :loading="loading"
                color="indigo darken-1"
                text
                @click="save">
                Save
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
	export default {
		data() {
            return {
                loading: false,
                stripe: null,
                stripeStyle: {
                    base: {
                        color: "#32325d",
                        fontSmoothing: "antialiased",
                        fontSize: "16px",
                        "::placeholder": {
                            color: "#aab7c4"
                        }
                    },
                    invalid: {
                        color: "#fa755a",
                        iconColor: "#fa755a"
                    },
                },
                element: null,
                card: null,
                paymentIntent: null,
                paymentMethod: {
                    name_on_card: null,
                    email: null,
                    pm: null
                }
            }
        },
        mounted() {
            this.stripe = Stripe(process.env.MIX_STRIPE_KEY)
            this.elements = this.stripe.elements()
            this.card = this.elements.create('card')
        }
    }
</script>
