<template>
    <div>
        <v-chip
            v-if="Object.keys(feature).length"
            class="mr-2 mb-4"
            color="indigo lighten-1"
            text-color="white"
            v-for="(key, index) in Object.keys(feature)"
            :key="index"
        >
            <span v-if="typeof feature[key] === 'number' && key === 'contract_count'">
                <v-avatar left class="white indigo--text">{{ feature[key] }}</v-avatar> Maximum contracts allowed
            </span>

            <span v-if="typeof feature[key] === 'number' && key === 'client_count'">
                <v-avatar left class="white indigo--text">{{ feature[key] }}</v-avatar> Maximum clients allowed
            </span>

            <span v-if="typeof feature[key] === 'boolean' && key === 'live_contract_collaboration'">
                <v-avatar left class="white indigo--text">
                    <v-icon v-if="feature[key]">mdi-checkbox-marked-circle</v-icon>
                    <v-icon color="red" v-else>mdi-close-circle</v-icon>
                </v-avatar>
                Live contract collaboration
            </span>

            <span v-if="typeof feature[key] === 'boolean' && key === 'spell_checker'">
                <v-avatar left class="white indigo--text">
                    <v-icon v-if="feature[key]">mdi-checkbox-marked-circle</v-icon>
                    <v-icon color="red" v-else>mdi-close-circle</v-icon>
                </v-avatar>
                Spell checker enabled
            </span>

            <span v-if="typeof feature[key] === 'boolean' && key === 'extended_editor'">
                <v-avatar left class="white indigo--text">
                    <v-icon v-if="feature[key]">mdi-checkbox-marked-circle</v-icon>
                    <v-icon color="red" v-else>mdi-close-circle</v-icon>
                </v-avatar>
                Extended editor
            </span>

            <span v-if="typeof feature[key] === 'boolean' && key === 'contract_template_manager'">
                <v-avatar left class="white indigo--text">
                    <v-icon v-if="feature[key]">mdi-checkbox-marked-circle</v-icon>
                    <v-icon color="red" v-else>mdi-close-circle</v-icon>
                </v-avatar>
                Contract template management
            </span>

            <span v-if="typeof feature[key] === 'boolean' && key === 'contract_buddy'">
                <v-avatar left class="white indigo--text">
                    <v-icon v-if="feature[key]">mdi-checkbox-marked-circle</v-icon>
                    <v-icon color="red" v-else>mdi-close-circle</v-icon>
                </v-avatar>
                Contract buddy AI
            </span>
        </v-chip>
    </div>
</template>

<script>
    import AbstractFeatures from '../../../../Utils/AbstractFeatures'

    export default {
        extends: AbstractFeatures,
        data() {
            return {
                feature: {}
            }
        },
        mounted() {
            this.feature = this.plans[this.subscription.stripe_plan].features
        }
    }
</script>
