<template>
	<div>
		<card title="Plan payments" :hide-card-margin="true">
			<v-data-table
				:headers="invoiceHeaders"
				:items="invoices"
				:items-per-page="5"
			>
				<template v-slot:item.status="{ item }">
					<v-chip small :color="getColor(item.status)" dark>{{ item.status }}</v-chip>
					<v-btn
						dark
						x-small
						color="indigo"
						v-if="item.status === 'open' && subscription.stripe_id === item.subscription"
						@click="completePay(item.payment_intent)"
					>
						Complete payment
					</v-btn>
				</template>
			</v-data-table>
		</card>
	</div>
</template>

<script>
	import Card from '../../../../Utils/Card'

	export default {
		components: {Card},
		props: {
			invoices: Array,
			subscription: Object
		},
		data() {
			return {
				invoiceHeaders: [
					{text: 'Invoice number', value: 'number', sortable: false},
					{text: 'Start date', value: 'starts', sortable: false},
					{text: 'End date', value: 'ends', sortable: false},
					{text: 'Status', value: 'status', sortable: false},
					{text: 'Sub-total', value: 'subtotal', sortable: false},
					{text: 'Tax', value: 'tax', sortable: false},
					{text: 'Total', value: 'total', sortable: false}
				]
			}
		},
		methods: {
			getColor(status) {
				if (status === 'paid') return 'success'
				else return 'warning'
			},
			completePay(paymentIntentId) {
				this.$helpers.helper.nav.goTo(`/account/payment/${paymentIntentId}`)
			}
		}
	}
</script>
