<template>
    <v-card>
        <v-card-text class="text-center">
            <p class="mb-0 pb-0 font-weight-black text-h6">{{ plan.name }}</p>
        </v-card-text>
        <v-card-text class="text-center">
            <p class="font-weight-thin text-h4"
               v-html="$helpers.helper.formattedPrice($helpers.helper.formatPrice($helpers.helper.calculatePrice(plan, plan.min_seats)))"></p>
            <p class="pb-1 mb-0">for {{ plan.min_seats }} seats per {{ tenure }}</p>
            <p v-if="plan.tiers.length > 1">{{ $helpers.helper.formatPrice(plan.tiers[1].price) }} per extra seats per {{ tenure }}</p>
        </v-card-text>

        <v-btn block dark depressed large tile color="indigo" @click="showSelector = !showSelector">
            Select {{ plan.name }}
        </v-btn>

        <v-card-text class="text-center" v-if="plan.tiers.length > 1 && showSelector">
            <p class="pt-5 pb-3">Select the number of seats for this plan below.</p>

            <p class="font-weight-thin text-h5 mt-3"
               v-html="$helpers.helper.formattedPrice($helpers.helper.formatPrice($helpers.helper.calculatePrice(plan, seats)))"></p>

            <v-card flat width="200px" class="mx-auto">
                <v-text-field
                    :ref="'seats_' + plan.plan_id"
                    v-model="seats"
                    label="Seats"
                    dense
                    outlined
                    type="number"
                    prepend-inner-icon="mdi-chair-rolling"
                    :min="plan.min_seats"
                    :max="plan.max_seats"
                ></v-text-field>
                <v-btn color="success" depressed @click="changePlan">
                    Confirm
                </v-btn>
            </v-card>
        </v-card-text>
        <v-divider v-if="showSelector"></v-divider>

        <v-card-text>
            <p v-if="Object.keys(plan.features).length" v-for="(key, index) in Object.keys(plan.features)" :key="index">

                <span v-if="typeof plan.features[key] === 'number' && key === 'contract_count'">
                <v-avatar left class="white indigo--text">{{ plan.features[key] }}</v-avatar> Maximum contracts allowed
            </span>

                <span v-if="typeof plan.features[key] === 'number' && key === 'client_count'">
                <v-avatar left class="white indigo--text">{{ plan.features[key] }}</v-avatar> Maximum clients allowed
            </span>

                <span v-if="typeof plan.features[key] === 'boolean' && key === 'live_contract_collaboration'">
                <v-avatar left class="white indigo--text">
                    <v-icon v-if="plan.features[key]">mdi-checkbox-marked-circle</v-icon>
                    <v-icon color="red" v-else>mdi-close-circle</v-icon>
                </v-avatar>
                Live contract collaboration
            </span>

                <span v-if="typeof plan.features[key] === 'boolean' && key === 'spell_checker'">
                <v-avatar left class="white indigo--text">
                    <v-icon v-if="plan.features[key]">mdi-checkbox-marked-circle</v-icon>
                    <v-icon color="red" v-else>mdi-close-circle</v-icon>
                </v-avatar>
                Spell checker enabled
            </span>

                <span v-if="typeof plan.features[key] === 'boolean' && key === 'extended_editor'">
                <v-avatar left class="white indigo--text">
                    <v-icon v-if="plan.features[key]">mdi-checkbox-marked-circle</v-icon>
                    <v-icon color="red" v-else>mdi-close-circle</v-icon>
                </v-avatar>
                Extended editor
            </span>

                <span v-if="typeof plan.features[key] === 'boolean' && key === 'contract_template_manager'">
                <v-avatar left class="white indigo--text">
                    <v-icon v-if="plan.features[key]">mdi-checkbox-marked-circle</v-icon>
                    <v-icon color="red" v-else>mdi-close-circle</v-icon>
                </v-avatar>
                Contract template management
            </span>

                <span v-if="typeof plan.features[key] === 'boolean' && key === 'contract_buddy'">
                <v-avatar left class="white indigo--text">
                    <v-icon v-if="plan.features[key]">mdi-checkbox-marked-circle</v-icon>
                    <v-icon color="red" v-else>mdi-close-circle</v-icon>
                </v-avatar>
                Contract buddy AI
            </span>

            </p>
        </v-card-text>
    </v-card>
</template>

<script>
    export default {
        props: {
            plan: Object,
            tenure: String
        },
        data() {
            return {
                showSelector: false,
                seats: this.plan.min_seats
            }
        },
        methods: {
            changePlan() {
                let formData = {
                    plan: this.plan.plan_id,
                    seats: this.seats,
                    amount: this.$helpers.helper.calculatePrice(this.plan, this.seats)
                }

                this.$inertia.post('/account/payment', formData)
            }
        }
    }
</script>
