<template>
	<v-layout>
		<v-flex v-for="(plan, index) in selectedPlansFromTenure" :key="index" class="pa-3">
			<plan-item-card :plan="plan" :tenure="tenure"/>
		</v-flex>
	</v-layout>
</template>

<script>
	import PlanItemCard from './PlanItemCard'

	export default {
		props: {
			plans: Object,
			tenure: String
		},
		components: {
			PlanItemCard
		},
		data() {
			return {
				selectedPlansFromTenure: []
			}
		},
		watch: {
			tenure(value) {
				this.runFilter(value)
			}
		},
		methods: {
			runFilter(value) {
				let planKeys = Object.keys(this.plans)

				this.selectedPlansFromTenure = []

				for (let key of planKeys) {
					if (this.plans[key].tenure === value)
						this.selectedPlansFromTenure.push(this.plans[key])
				}
			}
		},
		mounted() {
			this.runFilter('month')
		}
	}
</script>
