<template>
	<layout :title="title" :authenticated="false">
		<v-layout>
			<v-flex class="bg-white" xs12 md6>
				<div class="login-form">
					<div class="spacer"></div>
					<h2 class="font-weight-bold mb-1">Sign in</h2>
					<p class="mb-10">Don't have an account? <a @click="showRegisterForm = true" class="indigo--text">Sign
						up.</a></p>
					<v-form ref="form" lazy-validation @submit.prevent="login">
						<v-text-field
							v-model="auth.email"
							type="email"
							label="Email address"
							placeholder="email@example.com"
							prepend-inner-icon="mdi-at"
							@input="auth.email = $event.toLowerCase()"
							:rules="$helpers.helper.rules.emailValidationRules"
							outlined
						/>
						<v-text-field
							v-model="auth.password"
							label="Password"
							placeholder="Password"
							prepend-inner-icon="mdi-key-variant"
							:append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
							:type="showPassword ? 'text' : 'password'"
							@click:append="showPassword = !showPassword"
							:rules="$helpers.helper.rules.requiredFieldRule"
							outlined
						/>
						<v-layout>
							<v-flex sm6 md6 lg6>
								<v-checkbox class="mt-0" label="Remember me"></v-checkbox>
							</v-flex>
							<v-flex sm6 md6 lg6 class="text-right pt-1">
								<a class="indigo--text">Forgot Password</a>
							</v-flex>
						</v-layout>

						<div>
							<v-btn depressed large block dark color="indigo" class="mr-3" type="submit">Let's go!
							</v-btn>
						</div>
					</v-form>
				</div>
			</v-flex>
			<v-flex class="indigo"></v-flex>
		</v-layout>
		<register @close="showRegisterForm = false" :show="showRegisterForm"/>
	</layout>
</template>

<script>
	import Layout from '../../Shared/Layout'
	import Register from './Components/Register'

	export default {
		components: {Layout, Register},
		props: {
			title: String
		},
		data() {
			return {
				showPassword: false,
				auth: {
					email: null,
					password: null,
					remember_me: false
				},
				firstTimeLogin: {
					show: false,
					message: null
				},
				pwdConfirm: [
					v => !!v || "Confirm password",
					v => v === this.auth.password || "Passwords do not match"
				],
				showRegisterForm: false
			}
		},
		methods: {
			login() {
				if (this.$refs.form.validate()) {
					this.$inertia.post('/', this.auth)
				}
			}
		}
	}
</script>
